/*
    RESET
*/

html{
    font-family: Arial, Helvetica, sans-serif;
}

/*
    GENERAL
*/

/*utility*/
.border-radius20{
    border-radius: 20px;
}

/*
    MAIN
*/

.form-controllo{
    border: 1px solid grey;
}